* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.up {
  width: 500px;
  border-style: dotted;
  border-color: darkgray;
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  margin:0px auto;
  margin-bottom: 10px;
}
.a,.b,.c {
    margin: 10px;
}


.down {
    width: 500px;
    border-style: dotted;
    padding: 20px;
    margin: 0px auto;
}
